<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Order</title>
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Order</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="order" class="mt-4">
            <h2>Order Items</h2>
            {% if order.products and order.products.length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order.products %}
                    <tr>
                        <td>{{ product.productId }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.quantity }}</td>
                        <td><a href='/products/{{ product.productId }}'>View</a></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                {% else %}
                There are no order items.
                {% endif %}
        </section>
    </main>
</body>
</html>